body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%
  height: auto;
}

/*---Сеточные стили---*/

.container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.center-wrap {
  width: 940px;
  margin: 0 auto;
}

.center-wrap ul {
  padding: 0;
  margin: 0;
}

/*-----Оформление хедера-----*/

header ul {
  list-style: none;
}

.user-purchase a,
.site-navigation a {
  color: #ffffff;
}

.main-header {
  background-color: #f3f7f8;
  min-height: 322px;
}

/*---Верхняя плашка---*/

.header-top {
  min-height: 42px;
  margin-bottom: 46px; 

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.logo {
  display: block;
  box-sizing: border-box;
  width: 220px;
  height: 42px;
  padding-left: 55px;
  padding-top: 13px;

  background-color: #ee3643;
  box-shadow: 0 5px #b52933;

}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  box-shadow-color: #c82c37;
}

.logo:active {
  background-color: #ba2732;
  box-shadow-color: #8e1e26;
}

.search {
  position: relative;

  display: flex;
  width: 270px;
}

.search input {
  padding-left: 48px;
  background-color: inherit;
  color: inherit;
  border: none;
  
  flex-grow: 1;
}

.search::before {
  content: "";
  
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;
  
  background-image: url("../img/icon-search.svg");
  opacity: 0.3;
}

.search input:hover {
  background-color: #212a3a; 
}

.search:hover::before {
  opacity: 1;
} 

.search input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search:focus-within::before {
  background-image: url("../img/icon-search-active.svg");
  opacity: 1;
}

.search input::-webkit-input-placeholder {
  color: #ffffff;
} 
.search input::-moz-placeholder {
  color: #ffffff;
}    

.user-purchase {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 450px;
}

.user-purchase a {
  position: relative;

  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
}

.user-purchase a:hover,
.user-purchase a:focus {
  background-color: #212a3a; 
}

.user-purchase a:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6); 
}

.bookmarks {
  padding-left: 44px;
}

.bookmarks::before {
  content: "";
  
  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;
  
  background-image: url("../img/icon-bookmark.svg");
  opacity: 0.3;
}

.basket {
  padding-left: 50px;
}

.basket::before {
  content: "";
  
  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;
  
  background-image: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.basket:hover::before,
.basket:focus::before {
  opacity: 1;
} 

.bookmarks:active::before,
.basket:active::before {
  opacity: 0.5;
}

.checkout {
  background-color: #63a63e;
  text-align: center;
}

.user-purchase .checkout:hover, 
.user-purchase .checkout:focus {
  background-color: #5fbb2d;
}

.user-purchase .checkout:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.basket-full {
  background-color: #ee3643;
}

.user-purchase .basket-full:hover,
.user-purchase .basket-full:focus {
  background-color: #ca2c37;
}

.user-purchase .basket-full:active {
  background-color: #ba2732;
}

/*---Средняя плашка - ГЛАВНАЯ ---*/

.header-description {
  width: 200px;
  margin-top: 0;
  margin-right: 65px;
  margin-bottom: 0;
  margin-left: 50px;
  padding-top: 3px;
  padding-left: 3px;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts p {
  margin: 0;
}

.header-phone {
  position: relative;

  box-sizing: border-box;
  width: 270px;
  min-height: 45px;
  padding-top: 9px;
  padding-left: 75px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-phone::before {
  content: "";
  
  position: absolute;
  top: 9px;
  left: 15px;

  width: 19px;
  height: 19px;
  
  background-image: url("../img/icon-phone.svg");
}

.header-address {
  padding-top: 5px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.user-navigation,
.user-navigation-logged {
  margin-left: auto;
  width: 300px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap
}

/*---Средняя плашка - КАТАЛОГ ---*/

.user-navigation-logged a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;  
}

.user-navigation-logged a:hover,
.user-navigation-logged a:focus {
  color: #ee3643;
}

.user-navigation-logged a:active {
  opacity: 0.3;
}  

.options {
  padding-top: 9px;
  padding-left: 18px;
}

.circle {
  display: inline-block;

  width: 5px;
  height: 5px;
  margin-left: 15px;
  margin-right: 12px;
  margin-bottom: 3px;
  background-color: #32425c;
  border-radius: 50%;
}

/*---Нижняя плашка---*/

.main-navigation {}

.site-navigation {
  display: flex;
  width: 940px;
  min-height: 55px;
  margin: 38px auto 58px;
  padding: 0;
  justify-content: space-between;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 5px #293449;
}

.site-navigation a {
  display: block;
  box-sizing: border-box;
  width: 134px;
  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #212a3a; 
}
.site-navigation a:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6); 
}

/*------КНОПКИ НАВИГАЦИИ ПОЛЬЗОВАТЕЛЯ------*/

.button-header {
  position: relative;

  height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: inherit;
  text-align: left;
  vertical-align: middle;
  background-color: #ffffff;
  border: none;
}

.button-header:hover,
.button-header:focus {
  color: #ee3643;
}

.button-header:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-header-login {
  margin-left: 19px;
  width: 121px;
  padding-left: 47px;
}

.button-header-login::before {
  content: "";
  
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;
  
  background-image: url("../img/icon-login.svg");
}

.button-header-login:hover::before,
.button-header-login:focus::before {
  background-image: url("../img/icon-login-hover.svg");
}

.button-header-login:active::before {
  background-image: url("../img/icon-login.svg");
} 

.button-header-registration {
  margin-left: auto;
  width: 150px;
  text-align: center;
}

.button-header-user {
  width: 100%;
  padding-left: 46px;
}

.button-header-user:hover,
.button-header-user:focus {
  color: #000000;
}

.button-header-user::before {
  content: "";
  
  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;
  
  background-image: url("../img/icon-user.svg");
}

.button-header-user:hover::before,
.button-header-user:focus::before {
  background-image: url("../img/icon-user-hover.svg");
}

.button-header-user:active::before {
  background-image: url("../img/icon-user.svg");
}

.button-header-user::after {
  content: "";
  
  position: absolute;
  top: 14px;
  right: 10px;

  width: 20px;
  height: 17px;
  
  background-image: url("../img/icon-logout.svg");
}

.button-header-user:hover::after,
.button-header-user:focus::after {
  background-image: url("../img/icon-logout-hover.svg");
}

.button-header-user:active::after {
  background-image: url("../img/icon-logout.svg");
}

/*-----------ГЛАВНАЯ СТРАНИЦА-----------*/

/*----------Оформление main-----------*/

/*---Сетка промо-блока---*/

.promo-section .container {
  margin-top: 57px;
  margin-bottom: 53px;
  flex-wrap: wrap;
}

.promo-column-1 {
  display: flex;
  width: 940px;
  justify-content: space-between;
}

.promo-column-2 {
  margin-right: 20px;
  margin-top: 20px;
}

.promo-column-3 .promo-item {
  margin-top: 20px;
}

/*---Промо-блоки---*/

.promo-item {
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  padding-left: 23px;
  color: #ffffff;
  overflow: hidden;
}

.promo-item h2 {
  margin-top: 23px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
}

.promo-item a {
  display: block;
  box-sizing: border-box;

  width: 135px;
  min-height: 38px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.promo-item a:hover,
.promo-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-1 {
  background-color:#ffbf47;
  background-image: 
  url("../img/new-flag.png"),
  url("../img/icon-1.svg"); 
  background-position: 
  top right,
  213px 50%;
  background-repeat: no-repeat;  
}

.promo-2 {
  background: #3bbce3 url("../img/icon-2.svg") 196px 50% no-repeat;  
}

.promo-3 {
  background: #dc91d8 url("../img/icon-3.svg") 191px 50% no-repeat;  
}

.promo-4 {
  background: #8ed78f url("../img/icon-4.svg") 196px 50% no-repeat;
}

.promo-5 {
  background: #ffc047 url("../img/icon-5.svg") 191px 50% no-repeat; 
}

/*---Слайды---*/

.slide {
  box-sizing: border-box;
  width: 620px;
  height: 266px;
  padding-top: 27px;
  padding-left: 24px;
  background-size: cover;
  color: #ffffff;
}

.slide-1 {
  background: #9d9792 url("../img/slider1.jpg") top center no-repeat; 
}

.slide-2 {
  background: #9d9792 url("../img/slider2.jpg") top center no-repeat;
  display: none;
} 

.slider h2 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  min-height: 96px;
  margin-top: 8px;
  margin-bottom: 40px; 
}

.slider a {
  display: block;
  box-sizing: border-box;
  padding-top: 10px;

  width: 195px;
  height: 38px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  
  background-color: #ee3643;
  border-radius: 2px;
}

.slider a:hover,
.slider a:focus {
  background-color: #ca2c37; 
}

.slider a:active {
  background-color: #ba2732; 
}

/*---Популярные товары и брэнды общее---*/

.catalog ul,
.brands ul {
  list-style: none;
}

.items-title,
.brands-title {
  min-height: 89px; 
  background-color: #f9f5f0;
  width: 940px;
  margin: 0 auto 21px;
}

.items-title .container,
.brands-title .container {
  width: auto;
  min-height: 89px;
  height: inherit;
  padding-right: 24px;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
}

.items-title h2,
.brands-title h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.items-title a,
.brands-title a {
  /*display: block;*/
  box-sizing: border-box;
  padding-top: 10px;

  width: 253px;
  height: 38px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  
  background-color: #ee3643;
  border-radius: 2px;
}

.items-title a:hover,
.brands-title a:hover,
.items-title a:focus,
.brands-title a:focus {
  background-color: #ca2c37; 
}

.items-title a:active,
.brands-title a:active {
  background-color: #ba2732; 
}

/*--Карточки товаров--*/

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 52px 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.catalog-list li {
  width: 220px;
  min-height: 318px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.catalog-image {
  display: block;
  width: 218px;
  height: 170px;
}

.catalog h3 {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  width: 160px;
  margin: 11px auto 15px;
  padding: 0;
} 

.catalog h3 a {
  color: inherit;
}

.catalog p {
  text-align: center;
}

.item-active {
  display: none;
  
  margin-top: 43px;
  width: 218px;
  height: 127px;
}

.item-active .buy,
.item-active .to-bookmarks {
  display: block;
  box-sizing: border-box;

  width: 135px;
  height: 38px;
  margin: 7px auto;
  padding-top: 7px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  border: 3px solid;
  border-radius: 2px;
}

.item-active .buy {
  position: relative;
  padding-left: 49px;

  text-align: left;
  color: #ffffff;
  background-color: #63a63e;
  border-color: #63a63e;
  border-bottom-color: #367315;
}

.item-active .buy:hover,
.item-active .buy:focus {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.item-active .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.item-active .buy::before {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 12px;

  width: 15px;
  height: 15px;
  
  background-image: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.item-active .buy:hover::before,
.item-active .buy:focus::before,
.item-active .buy:active::before {
  opacity: 1;
}

.item-active .to-bookmarks {
  color: #32425c;
  border-color: #63a63e;
}

.item-active .to-bookmarks:hover,
.item-active .to-bookmarks:focus {
  border-color: #32425c;
}

.item-active .to-bookmarks:active {
  opacity: 0.3;
  border-color: #c1c6ce;
}

.catalog-list li:hover .catalog-image {
  display: none;
}

.catalog-list li:hover .item-active {
  display: block;
}

.catalog-list li:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.price-old, 
.price-old-none,
.price-red {
  margin: 0 auto 13px;
}

.price-old {
  color: #a9a9a9;
  text-decoration: line-through;
}

.price-old-none {
  color: #ffffff;
}

.price-red {
  box-sizing: border-box;

  padding-top: 10px;
  width: 141px;
  height: 38px;
  color: #ffffff;
  
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
}

.catalog-item-new {
  position: relative;
}

.catalog-item-new:after {
  content: "";
  
  position: absolute;
  top: 0px;
  right: 0;

  width: 60px;
  height: 59px;
  
  background-image: url("../img/new-flag.png");
}

/*----Сетка карточек брэндов----*/

.brands {
  margin-bottom: 85px;
}

.brand-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand-cards li:nth-child(n+5)  {
  margin-top: 20px;
}

/*--Карточки брэндов-*/

.brand-cards a {
  /*display: block;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  border: 1px solid #e5e5e5;
}

.brand-cards a:hover,
.brand-cards a:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-cards a:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3; 
}

/*---Сервисы---*/

.services {
  background-color: #f4f8f9;
  margin: 0 auto 82px;
  padding-top: 68px;
}

.services .container {
  padding: 0;
}

.services ul {
  list-style: none;
  margin: 0;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services h3 {
  margin: 0 0 27px;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", Arial, sans-serif;
}

.service-info p {
  max-width: 380px;
  margin-bottom: 22px;
}

.service-aside {
  position: relative;

  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  padding: 46px 0;
}

.service-aside::after {
  content: "";

  position: absolute;
  width: 10px;
  height: 279px;

  top: 0;
  right: 0;

  background-image: url("../img/service-shadow.png");
}
 
.service-aside li {
  box-sizing: border-box;
  padding-top: 15px;
  margin-bottom: 2px;
  width: 240px;
  height: 60px;
  background-color: #32425c; 
  box-shadow:
  0 -1px #405069,
  0 1px #293449;
  text-align: center;
}

.service-aside li:hover {
  background-color: #293449;
  color: inherit;
  box-shadow:
  0 -1px #405069,
  0 1px #293449;
}  

.service-aside .service-current {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: 
  0 -1px #ffffff,
  0 1px #ffffff;
}

.service-info {
  box-sizing: border-box;
  width: 700px;
  padding-top: 46px;
  padding-left: 80px;
}

.service-info li {
  height: 290px;
  /*Временно, потом следует изменить*/
}

.delivery {
  background: url("../img/delivery.png") right bottom no-repeat;
  display: none;
}

.guarantee {
  background: url("../img/guarantee.png") right bottom no-repeat;
  display: none;
}

.credit {
  background: url("../img/credit.png") right bottom no-repeat;
  /*display: none;*/
}

.credit .red-button {
  width: 195px;
}

/*---О компании и контакты---*/

.extra-info {
  margin-bottom: 86px;
}

.company,
.contacts {
  /*Стиль сетки*/
  outline: 2px solid yellow;
}

.company {
  width: 540px;
}

.contacts {
  width: 300px;
  margin-left: auto;

}

.company ul {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.company li {
  position: relative;
  padding-left: 35px;
}

.company li:before {
  content: "";
  
  position: absolute;
  top: 9px;
  left: 0;

  width: 25px;
  height: 2px;
  
  background-image: url("../img/list-item.png");
}

.company h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.company p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
}

.red-button {
  display: block;
  box-sizing: border-box;
  padding-top: 10px;

  width: 220px;
  height: 38px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  
  background-color: #ee3643;
  border-radius: 2px;
}

.contacts .red-button {
  width: 100%;
}

.red-button:hover,
.red-button:focus {
  background-color: #ca2c37; 
}

.red-button:active {
  background-color: #ba2732; 
}

/*-------------КАТАЛОГ---------------*/

.heading-columns {
  margin-bottom: 20px;
}

.heading-columns .container {
  flex-direction: column;
}

.page-heading {
  min-height: 89px; 
  background-color: #f9f5f0;
}

.page-heading h1 {
  font-size: 30px;
  line-height: 30px;
  margin-left: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  align-items: center;
  order: -1;
  
  min-height: 59px;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  
  position: absolute;
  top: 5px;
  left: -24px;

  width: 8px;
  height: 12px;
  
  background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding-right: 40px;
}

.breadcrumbs-main a {
  padding-right: 54px;
}

.breadcrumbs-main a::before {
  content: "";
  
  position: absolute;
  top: 5px;
  left: 0;

  width: 14px;
  height: 12px;
  
  background-image: url("../img/icon-home.svg");
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

/*---Сетки каталога основные---*/

.filter,
.catalog-columns {
  /*Стиль сетки*/
  outline: 2px solid yellow;
}

.filter {
  width: 220px;
}

.catalog-columns {
  width: 700px;
  margin-left: auto;
}

.sorting {
  display: flex;
  min-height: 38px;
  background-color: #f9f5f0;
  border-radius: 2px;
}

/*---Формы каталога---*/

.filter,
.sorting {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter ul,
.sorting ul {
  list-style: none;
}

.filter h2,
.sorting h2 {
  box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding-top: 10px;
  padding-left: 19px;
}

.filter-header {
  min-height: 38px;
  background-color: #f9f5f0;
  border-radius: 2px;
}

/*-----Фильтры-----*/

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter ul {
  margin: 0;
  padding: 0;
}


.filter fieldset:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 17px;
}

.filter-button {
  width: 140px;
  height: 38px;
  font-size: 13px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.double-range {
  position: relative;

  width: 220px;
  height: 80px;
  margin-bottom: 9px;

  background-color: #f9f5f0;
  border-radius: 3px; 
}

.double-range div:not(.double-range-button) {
  height: 2px;
}

.double-range-grayline {
  width: 180px;
  background-color: #d7dcde;
  position: absolute;
  top: 39px;
  left: 20px;
}

.double-range-greenline {
  width: 152px;
  background-color: #00ca74;
  position: absolute;
  top: 39px;
  left: 20px;
}

.double-range-button {
  position: absolute;
  top: 30px;
  left: 20px; 

  margin: 0;
  width: 20px;
  height: 22px;
  background: url("../img/filter-button.svg") no-repeat;
}

.double-range-button-right {
  left: 160px;
}

.filter-price {}

.filter-price-value {
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 25px;
}

.filter-price-value input {
  width: 95px;
  height: 38px;
  background-color: #f9f5f0;
  border-radius: 2px;
  text-align: center;
  border: none;
}

.filter-price-value span {
  display: flex;
  align-items: center;
  
  margin: 0;
}

/*--Чекбоксы, радиокнопки и лейблы--*/

.filter-option {
  margin-bottom: 12px;
  padding-left: 34px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
}

.checkbox-switch,
.radio-switch {
  position: relative;  
}

.checkbox-switch::before,
.radio-switch::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -21px;

  width: 23px;
  height: 23px;
}

.checkbox-switch::before {
  background-image: url("../img/checkbox-off.svg");
}

.radio-switch::before {
  top: -23px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
}

.filter-checkbox input:checked + .checkbox-switch::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-checkbox label:hover .checkbox-switch::before,
.filter-checkbox label:focus .checkbox-switch::before {
  background-image: url("../img/checkbox-off-hover.svg"); 
}

.filter-checkbox input:checked:hover + .checkbox-switch::before,
.filter-checkbox input:checked:hover + .checkbox-switch::before {
  background-image: url("../img/checkbox-on-hover.svg");  
} 

.filter-radio input:checked + .radio-switch::before {
  background-image: url("../img/radio-on.svg");
}

.filter-radio label:hover .radio-switch::before,
.filter-radio label:focus .radio-switch::before {
  background-image: url("../img/radio-off-hover.svg");  
}

.filter-radio input:checked:hover + .radio-switch::before,
.filter-radio input:checked:hover + .radio-switch::before {
  background-image: url("../img/radio-on-hover.svg");  
}

/*-----Сортировка-----*/

.sorting-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 354px;
  padding: 0;
  margin: 0 46px 0 140px;
}

.sorting-type a {
  display: block;
  padding-right: 0px;
  padding-bottom: 3px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;

  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

.sorting-current a {
  color: #ee3643;
  border-color: transparent;
}

.sorting-type a:hover,
.sorting-type a:focus {
  color: inherit;
  border-bottom-style: solid;
  border-bottom-color: #ee3643;
}

.sorting-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 43px;
  padding: 0;
  margin: 0;
}

.sorting-arrows a:hover path,
.sorting-arrows a:focus path {
  fill: #231f20;
}

.sorting-arrows-active path {
  fill: #ee3643;
}

/*--Пагинация--*/

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  /*Стиль сетки*/
  outline: 2px solid yellow;
}

.pagination li {
  margin-right: 10px;
}

.pagination a {
  display: block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding-top: 10px;
  
  font-family: "PT Sans", Arial, sans-serif; 
  font-size: inherit;
  line-height: 18px;
  color: inherit;
  text-align: center;
  
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-next a {
  width: 140px;
}

.pagination a:hover,
.pagination a:focus {
  border-color: #bdc6ca;
}

.pagination a:active {
 border-color: #ee3643; 
}

.pagination-current a {
 background-color: #ee3643;
 border-color: #ee3643;
 color: #ffffff; 
}

/*---Контентная зона---*/ 

.article {
  margin-top: 60px;
  padding-top: 68px;
  padding-bottom: 70px;
  background-color: #f4f8f9;
}

.article h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 34px 0;
}

.article p {
  font-family: "PT Sans", Arial, sans-serif;
}

/*----------Оформление футера-----------*/

.footer-general,
.footer-general a {
  color: #ffffff;
}

.footer-general a:hover,
.footer-general a:focus {
  text-decoration: underline;
}

.footer-general a:active:not(.social a) {
  text-decoration: inherit;
  opacity: 0.5;
}

.footer-general ul {
  list-style: none;
  color: #ffffff;
}

.footer-top {
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
  min-height: 193px;
}

.footer-top-left {
  width: 350px;
  /*Стиль сетки*/
  outline: 2px solid yellow;
}

.footer-top-right {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  margin-left: auto;
  /*Стиль сетки*/
  outline: 2px solid yellow;
}

.footer-top-right ul {
  display: flex;
  width: inherit;
  padding: 0;
  justify-content: space-between;
}

.footer-top-right ul:last-child {
  padding-left: 25px;
}

.footer-bottom {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  min-height: 107px;
}

.copyright {
  width: 240px;
  margin-right: 140px;
   /*Стиль сетки*/
  outline: 2px solid yellow;
}

.social {
  width: 133px;
   /*Стиль сетки*/
  outline: 2px solid yellow;
}

.social ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.social a {
  display: block;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50% 
}

.social a:hover,
.social a:focus,
.social a:active {
  background-color: #ee3643;
}

.vk {
  background: url("../img/icon-vk.svg") 50% 50% no-repeat;
}

.facebook {
  background: url("../img/icon-fb.svg") 50% 50% no-repeat;
}

.instagram {
  background: url("../img/icon-insta.svg") 50% 50% no-repeat;
}

.write-us {
  margin-left: auto;
  width: 160px;
   /*Стиль сетки*/
  outline: 2px solid yellow;
}

.developer {
  margin-right: 0;
  width: 140px;
   /*Стиль сетки*/
  outline: 2px solid yellow;
}

.footer-list-2 a,
.write-us a,
.developer a {
  color: #ffd180;
} 

/*----Попапы----*/

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);
  background-color: #ffffff;

  font-size: 18px;
  line-height: 18px;
}

.modal:not(.modal-map) {
  border-top: 7px solid #ff5357;
}

.modal-wrap {
  padding: 0 80px;
}

.modal-write-us {
  display: none;
  width: 620px;
  margin-top: -215px;
  margin-left: -310px;
}  

.modal-map {
  display: none; 
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;
}

.modal-cart-adding {
  display: none;
  width: 620px;
  margin-top: -141px;
  margin-left: -310px;
}

.modal-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-input-container {
  margin-bottom: 20px;
  margin-top: 48px; 
}

.modal-input-block {
  width: 220px;
}

.modal input,
.modal textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 38px;
  padding-left: 13px;
  margin-top: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.modal textarea {
  padding-top: 10px;
  margin-bottom: 35px;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px; 

  border: none;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");

  cursor: pointer;
}

.modal-columns-cart {
  display: flex;
  align-content: center;
  flex-wrap: wrap;

  min-height: 163px;
}

.modal-columns-cart p {
  margin-left: 31px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
}

.modal-buttonspace {
  padding: 37px 0;
  background-color: #f1f1f1;
}

.modal-write-us .red-button {
  border: none;
  padding: 0;
  width: 100%;
}

.modal-buttonspace .white-button {
  color: #000000;
  background-color: #ffffff;
}

/*----Вспомогательные стили---*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}